<ion-header>
  <ion-toolbar>
    <ion-title>{{task.title}}</ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="openAddSubTaskModal()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="task.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Categoría</ion-label>
    <ion-select [(ngModel)]="task.categoryId" interface="popover">
      <ion-select-option [value]="null">Sin Categoría</ion-select-option>
      <ion-select-option *ngFor="let category of categories" [value]="category.id">{{ category.name
        }}</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Emoji</ion-label>
    <ion-button style="font-size: 32px;" (click)="toggled = !toggled" interface="popover">
      <ion-icon *ngIf="task.emoji === null" slot="icon-only" name="happy"></ion-icon>
      <div slot="end" *ngIf="task.emoji !== null">
        {{ task.emoji }}
      </div>
    </ion-button>
    <emoji-mart *ngIf="toggled" class="emoji-mart" (emojiSelect)="handleSelection($event)"></emoji-mart>
  </ion-item>
  <ion-list>
    <ion-list-header>
      <ion-label>Subtareas</ion-label>
    </ion-list-header>
    <ion-item-sliding *ngFor="let subTask of subTasks">
      <ion-item>
        <ion-checkbox slot="start" [(ngModel)]="subTask.completed"
          (ionChange)="completeSubTask(subTask)"></ion-checkbox>
        <ion-label>{{ subTask.title }}</ion-label>
        <div style="font-size: 24px;" slot="end">
          {{ subTask.emoji }}
        </div>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="deleteSubTask(subTask)">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="updateTask()">
      <ion-icon name="checkmark-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>